includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 6
    tmpDir: storage/phpstan
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - identifier: instanceof.alwaysFalse
